body {
  background-color: #0f3d3e;
  color: #100f0f;
}

form {
  background-color: #e2dcc8;
  color: #100f0f;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  padding: 2em;
}

#output {
  background-color: #e2dcc8;
  color: #100f0f;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  padding: 2em;
  visibility: hidden;
}
